```css
.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f0f0f0;
  border: 2px solid #999;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


/* Set background color */
body {
    background-color: #ECE7ED; /* Change this to your desired background color */
}


.navbar-dark .navbar-nav .nav-link {
    color: #3A4D13;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #80ac26;
}

/* css styles */



/* Hide footer on the homepage */
body.homepage footer {
    display: none;
}


